{
  "parserOptions": { "ecmaVersion": 2018 },
  "env":{
    'jest': true
  },
  "extends": "airbnb-base",
    rules: {
    'no-shadow': 0,
    'no-param-reassign': 0,
    'eol-last': 0,
    'no-use-before-define':"off",
    'no-alert':"off",
    'no-mixed-operators':"off",
    "no-return-assign": "off",
    "no-loop-func":"off",
    "no-restricted-globals":"off"
  }
}
